.sidebar-box {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
.filters {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sort-options,
.sort-order {
    display: flex;
    align-items: center;
}

label {
    margin-right: 5px;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="text"] {
    padding: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.sort-options select,
.sort-order select {
    width: 120px;
}

.sort-options select {
    margin-right: 10px;
}